<div class="container">
    <h2>{{ isEdit ? 'Editar Jaula' : 'Agregar Jaula' }}</h2>
    <form (ngSubmit)="onSubmit()" #jaulaForm="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" [(ngModel)]="jaula.nombre" name="nombre" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">{{ isEdit ? 'Actualizar' : 'Agregar' }}</button>
      <button (click)="cancelar()" type="button" class="btn btn-secondary">Cancelar</button>
    </form>
  </div>
  